/* Mobile Styles / Mobile First -> Desktop Changes through Breakpoints when needed! */
    body {
        background-color: #E4E4E4;
        min-width: 100vw;
        padding: 0;
        margin: 0;
        text-align: justify;
        height:100%;
    }

    .page-body {
        font-family: Courier;
        font-size: 14px;
        margin: 2rem;
    }

    html {
        display:block;
        width:100%;
        height:100%;
    }
    
    a {
        text-decoration: none;
    }
    
    .text_container {
        font-family: 'SF Mono', sans-serif;
    }
    
    .description-text {
        margin: 3rem 5rem 3rem 5rem;
        font-family: Courier;
    }
    
    .description_text_less_margin_top {
        margin-top: 1rem;
    }
    
    .description_text_even_less_margin_bottom {
        margin-bottom: 0rem;
    }
    
    .description_text_less_margin_right {
        margin-right: 1rem;
    }
    
    .headline_content {
        color: #1f1f1f; /* 2e2727 */
        font-family: Courier;
        font-weight: 200;
        font-size: 32px; /* 200% */
        margin-bottom: 1rem;
    }

    .headline_content_extra_margin {
        margin-right: 5rem;
    }
    
    .extra_headline_content {
        font-size: 40px; /* 300% */
    }
    
    .bold_smaller_headline {
        font-weight: bolder;
        font-size: 24px; /* 150% */
    }
    
    .text_content {
        font-size: 14px;
        margin-bottom: 1rem;
        line-height: 140%;
    }

    @media (max-width:1291px) {
        .text_content {
            font-size: 18px;
            margin-bottom: 1rem;
            line-height: 140%;
        }
    }

    @media (min-width:1291px) {
        .delete_if_desktop_user {
            display: none;
        }
    }
    
    @media (max-width:1291px) {
        .delete_if_mobile_user {
            display: none;
        }
    }

    .subheadline_content_difference_to_text_content {
        font-family: Courier;
        font-size: 19px; /* 125% */
        line-height: 140%;
        padding: 4rem;
    }
    
    .subheadline_content_difference_to_text_content_2 {
        font-family: Courier;
        font-size: 19px; /* 125% */
        line-height: 140%;
    }
    
    .little_less_margin_bottom {
        margin-bottom: 1rem;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 1rem 1rem 1rem;
    }

    .page-header-icon {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .icon {
        display: inline-block;
        max-width: 1.2em;
        max-height: 1.2em;
        text-decoration: none;
        vertical-align: text-bottom;
        margin-right: 0.5em;
    }
    
    .image {
        width: 20rem;
        height: auto;
    }

    @media (min-width:1291px) {
        .image {
            width: 15rem;
            height: auto;
        }
    }
    
    .gif {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width:80%;
    }

    @media (min-width:1291px) {
        .gif {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            width:60%;
        }
    }
    
    .gif_small_page_header {
        width: 25rem;
        height: auto;
    }
    
    .startOptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 0rem 2rem 3rem 2rem;
        font-family: 'SF Mono', sans-serif;
        font-weight: 650;  
        font-size: 48px; /* 300% */
        color: #1f1f1f;
    }

    @media (min-width:1291px) {
        .startOptions {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            margin: 2rem;
            font-family: 'SF Mono', sans-serif;
            font-weight: 650;  
            font-size: 28px; /* 180% */
            color: #1f1f1f;
        }
    }
    
    .startOptions:hover {
        transform: scale(1.1);
    }
    
    .onlyEnlargeImageNotTitleBelow:hover {
        transform: scale(1.1);
    }
    
    .startOptions_container {
        display: flex;
        flex-direction: column;
    }

    @media (min-width:1291px) {
        .startOptions_container {
            display: flex;
            flex-direction: row;
        }
    }
    
    .button {
      align-items: center;
      background-color: #fff;
      border: 2px solid #000;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      display: block;
      margin-top: 2rem;
      fill: #000;
      font-family: 'SF Mono', sans-serif;
      font-size: 16px;
      font-weight: 650;
      height: 48px;
      justify-content: center;
      letter-spacing: -.8px;
      line-height: 24px;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      /*text-align: center;*/
      text-decoration:none;
      transition: all .3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button_less_margin_left {
        margin-left: 0rem;
    }
    
    .button:focus {
      color: #171e29;
    }
    
    .button:hover {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    .button:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    @media (min-width: 768px) {
      .button {
        min-width: 170px;
      }
    }
    
    .subheadlines {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #1f1f1f;
        font-size: 40px; /* 250% */
        font-weight: 650;
    }
    
    .subheadline_hyphen {
        letter-spacing: 0px;
    }
    
    .subheadlines_container {
        display:flex;
        justify-content: space-evenly; /*Hintergrund: ich habe den Subheader in 3 Teile zerteilt und nutze nun "justify-content: space-evenly" um diese drei Teile in gleichen Abständen zueinander anzuordnen und mehr Abstand zwischen "---" und "xxx" zu bringen.*/
    }
    
    .boxed_text {
        color: white;
        font-family: 'SF Mono', sans-serif;
        font-weight: 650;  
        font-size: 64px; /* 400% */
        line-height: 73%;
        height: fit-content; 
        margin-left: 42%;
        margin-right: 42%;
        margin-bottom: 4rem;
        margin-top: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
    
        background-color: #1f1f1f;
        border: 30px solid #1f1f1f;
    }
    
    .boxed_text_projects {
        margin-left: 28%;
        margin-right: 28%;
        margin-bottom: 5rem;
    }

    @media (min-width:1291px) {
        .boxed_text_projects {
            margin-left: 34%;
            margin-right: 34%;
            margin-bottom: 5rem;
        }
    }
    
    .boxed_text_experiences {
        margin-left: 23%;
        margin-right: 23%;
    }

    @media (min-width:1291px) {
        .boxed_text_experiences {
            margin-left: 30%;
            margin-right: 30%;
        }
    }
    
    .container_me_1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }

    .me-mobile, .me-desktop {
        display: none;
    }
    

    @media screen and (max-width: 1000px) {
        .me-mobile {
            display: block;
        }
        .me-desktop {
            display:none;
        }
    }

    @media screen and (min-width: 1001px) {
        .me-desktop {
            display: block;
        }
        .me-mobile {
            display:none;
        }
    }

    .container_me_1_1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    @media (min-width:1291px) {
        .container_me_1_1 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
        }
    }

    .extra_margin_right {
        margin-right: 3rem;
    }

    .extra_margin_top {
        margin-top: 3rem;
    }

    @media (min-width:1291px) {
        .extra_margin_top {
            margin-top: 0rem;
        }
    } 

    .container_extra_padding {
        padding: 2rem 0rem 0rem 0rem;
        padding-bottom: 5rem;
    }
    
    .container_extra_padding_end_of_concepts {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    
    .container_less_padding_flags {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0rem;
    }
    
    .container_me_2 {
        display: flex;
        flex-direction: column;
        /*justify-content: space-evenly;*/
        row-gap: 0rem;
    }

    .container_me_3 {
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    .container_me_4 {
        display: flex;
        justify-content: flex-start;
    }
    
    .text_me {
        width: 50%;
        font-family: Courier;
        line-height: 150%;
        font-size: 20px; /* 130% */
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: left;
    }
    
    .image_me {
        width: auto;
        height: 50rem;
    }
    
    .image_sneaker {
        width: auto;
        height: 22rem;
        padding: 2rem 1rem 2rem 0rem;
        margin-top: 5rem;
    }
    
    .image_toilet_1 {
        width: auto;
        height: 18rem;
        padding-top: 11rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }


    @media (min-width:1291px) {
        .image_toilet_1 {
            width: auto;
            height: 20rem;
            padding-top: 11rem;
            padding-right: 1rem;
            padding-bottom: 2rem;
        }
    }
    
    .image_toilet_2 {
        width: 20rem;
        height: auto;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-right: 0rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
    }

    @media (min-width:1291px) {
        .image_toilet_2 {
            width: auto;
            height: 20rem;
            padding-left: 5rem;
            padding-top: 3rem;
            padding-right: 1rem;
            padding-bottom: 2rem;
            display: flex;
            justify-content: flex-start;
        }
    }
    
    .image_toilet_3 {
        width: 20rem;
        height: auto;
        padding-left: 5rem;
        padding-top: 1rem;
        padding-right: 0rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
    }

    @media (min-width:1291px) {
        .image_toilet_3 {
            width: auto;
            height: 20rem;
            padding-left: 1rem;
            padding-top: 3rem;
            padding-right: 0rem;
            padding-bottom: 2rem;
            display: flex;
            justify-content: flex-start;
        }
    }
    
    .image_toilet_4 {
        width: auto;
        height: 11rem;  
        padding-left: 0rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_marble_1 {
        width: auto;
        height: 17rem;
        padding-left: 0rem;
        padding-top: 3rem;
        padding-right: 1rem;
    }
    
    .image_marble_2 {
        width: auto;
        height: 25rem;  
        padding-left: 0rem;
        padding-top: 2rem;
        padding-right: 1rem;
        padding-bottom: 7rem;
    }
    
    .image_GG1 {
        width: auto;
        height: 18rem;
        padding-left: 5rem;
        padding-top: 9rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
    }
    
    .image_GG2 {
        width: auto;
        height: 18rem;
        padding-left: 5rem;
        padding-top: 9rem;
    }
    
    .image_GG3 {
        width: auto;
        height: 18rem;
        padding-left: 5rem;
        padding-top: 3rem;
    }
    
    .image_GG4 {
        width: auto;
        height: 18rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    
    .container_GG2 {
        display: flex;
        flex-direction: column;
    }
    
    .images_DAAL {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        margin: auto;
    }
    
    .image_logo_pluggi {
        margin-top: 8rem;
        margin-left: 0rem;
        margin-right: 2rem;
        width: 15rem;
    }
    
    .images_tool_heckathon_flexbox {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .images_tool_heckathon {
        width: 30%;
        height: auto;
        margin: auto;
    }
    
    .image_marble {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        /*display: flex;
        justify-content: flex-start;*/
    }
    
    .footer1 {
        font-family: 'SF Mono', sans-serif;
        display:flex;
        justify-content:flex-end;
        align-items:flex-end;
        margin-right: 0.25rem;
        margin-top: 4rem;
        margin-bottom: 0.25rem;
    }
    
    .footer {
        font-family: 'SF Mono', sans-serif;
        position: relative;
        margin-right: 0.25rem;
        margin-top: 4rem;
      }
      
      .left-content {
        position: absolute;
        left: 0;
        padding-bottom: 0.25rem;
      }
      
      .center-content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 0.25rem;
      }
      
      .right-content {
        position: absolute;
        right: 0;
        padding-bottom: 0.25rem;
      }