/* @media (max-device-width:550px)


/* Mobile Styles */
@media (max-width:1300px) {
    body {
        margin: 0;
        background-color:rgb(130, 130, 130);
    }

    html {
        display:block;
        width:100%;
    }
    
    a {
        text-decoration: none;
    }
    
    .text-container {
        font-family: 'SF Mono', sans-serif;
    }
    
    .description-text {
        margin: 3rem 10rem 3rem 5rem;
        font-family: Courier;
        /*line-height: 100%;*/
        font-size: 100%;
    }
    
    .description_text_less_margin_top {
        margin-top: 1rem;
    }
    
    .description_text_even_less_margin_bottom {
        margin-bottom: 0rem;
    }
    
    .description_text_less_margin_right {
        margin-right: 1rem;
    }
    
    .headline_content {
        color: #2e2727;
        font-family: Courier;
        font-weight: 200;
        font-size: 200%;
        margin-bottom: 1rem;
    }
    
    .extra_headline_content {
        font-size: 300%;
    }
    
    .bold_smaller_headline {
        font-weight: bolder;
        font-size: 150%
    }
    
    .text_content {
        font-size: 110%;
        margin-bottom: 1rem;
        line-height: 150%;
    }
    
    .text_content_less_margin_bottom {
        font-size: 110%;
        margin-bottom: 0rem;
        line-height: 150%;
    }
    
    .subheadline_content_difference_to_text_content {
        font-family: Courier;
        font-size: 125%;
        line-height: 160%;
        padding: 4rem;
    }
    
    .subheadline_content_difference_to_text_content_2 {
        font-family: Courier;
        font-size: 125%;
        line-height: 160%;
    }
    
    .little_less_margin_bottom {
        margin-bottom: 1rem;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 1rem 1rem 1rem;
    }
    
    .image {
        width: 20rem;
        height: auto;
    }
    
    .gif {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width:80%;
    }
    
    .gif_small_page_header {
        width: 25rem;
        height: auto;
    }
    
    .startOptions {
        display: flex; /* */
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 0rem 2rem 3rem 2rem;
        
        font-family: 'SF Mono', sans-serif;
        font-weight: 650;  
        font-size: 300%;
        color: #2e2727;
    }
    
    .startOptions:hover {
        transform: scale(1.1);
    }
    
    .onlyEnlargeImageNotTitleBelow:hover {
        transform: scale(1.1);
    }
    
    .startOptions_container {
        display: flex;
        flex-direction: column;
        /*justify-content: center;
        align-content: center;*/
        /*gap: 8rem;*/
    }
    
    .button {
      align-items: center;
      background-color: #fff;
      border: 2px solid #000;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      display: block;
      margin-left: 7rem;
      margin-top: 2rem;
      fill: #000;
      font-family: 'SF Mono', sans-serif;
      font-size: 16px;
      font-weight: 650;
      height: 48px;
      justify-content: center;
      letter-spacing: -.8px;
      line-height: 24px;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      /*text-align: center;*/
      text-decoration:none;
      transition: all .3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button_less_margin_left {
        margin-left: 0rem;
    }
    
    .button:focus {
      color: #171e29;
    }
    
    .button:hover {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    .button:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    @media (min-width: 768px) {
      .button {
        min-width: 170px;
      }
    }
    
    .subheadlines {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #2e2727;
        font-size: 250%;
        font-weight: 650;
    }
    
    .subheadline_hyphen {
        letter-spacing: 30px;
    }
    
    .subheadlines_container {
        display:flex;
        justify-content: space-evenly; /*Hintergrund: ich habe den Subheader in 3 Teile zerteilt und nutze nun "justify-content: space-evenly" um diese drei Teile in gleichen Abständen zueinander anzuordnen und mehr Abstand zwischen "---" und "xxx" zu bringen.*/
    }
    
    .boxed_text {
        color: white;
        font-family: 'SF Mono', sans-serif;
        font-weight: 650;  
        font-size: 400%;
        line-height: 73%;
        height: fit-content; 
        margin-left: 42%;
        margin-right: 42%;
        margin-bottom: 4rem;
        margin-top: 2rem;
        text-align: center;
    
        background-color: #2e2727;
        border: 30px solid #2e2727;
    }
    
    .boxed_text_projects {
        margin-left: 34%;
        margin-right: 34%;
        margin-bottom: 5rem;
    }
    
    .boxed_text_experiences {
        margin-left: 30%;
        margin-right: 30%;
    }
    
    .container_me_1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .container_extra_padding {
        padding: 2rem;
        padding-bottom: 5rem;
    }
    
    .container_extra_padding_concepts {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .container_extra_padding_end_of_concepts {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    
    .container_less_padding_flags {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0rem;
    }
    
    .container_me_2 {
        display: flex;
        flex-direction: column;
        /*justify-content: space-evenly;*/
        row-gap: 0rem;
    }
    
    .container_me_3 {
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    .container_me_4 {
        display: flex;
        justify-content: flex-start;
    }
    
    .text_me {
        width: 50%;
        font-family: Courier;
        line-height: 150%;
        font-size: 130%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .image_me {
        width: auto;
        height: 50rem;
    }
    
    .image_sneaker {
        width: auto;
        height: 22rem;
        padding: 2rem;
        padding-right: 1rem;
    }
    
    .image_toilet_1 {
        width: auto;
        height: 22rem;
    
        padding-left: 2rem;
        padding-top: 11rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
    
    .image_toilet_2 {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_toilet_3 {
        width: auto;
        height: 17rem;  
        padding-left: 1rem;
        padding-top: 3rem;
        padding-right: 0rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_toilet_4 {
        width: auto;
        height: 17rem;  
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_marble_1 {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-right: 1rem;
    }
    
    .image_marble_2 {
        width: auto;
        height: 30rem;  
        padding-left: 0rem;
        padding-top: 2rem;
        padding-right: 1rem;
        padding-bottom: 7rem;
    }
    
    .image_GG1 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 9rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
    }
    
    .image_GG2 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 9rem;
    }
    
    .image_GG3 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 3rem;
    }
    
    .image_GG4 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    
    .container_GG2 {
        display: flex;
        flex-direction: column;
    }
    
    .images_DAAL {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        margin: auto;
    }
    
    .image_logo_pluggi {
        margin-top: 8rem;
        margin-left: -5rem;
        margin-right: 1rem;
        width: 15rem;
    }
    
    .images_tool_heckathon_flexbox {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .images_tool_heckathon {
        width: 30%;
        height: auto;
        margin: auto;
    }
    
    .image_marble {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        /*display: flex;
        justify-content: flex-start;*/
    }
    
    .footer {
        font-family: 'SF Mono', sans-serif;
        display:flex;
        justify-content:flex-end;
        align-items:flex-end;
        margin-right: 2rem;
        margin-top:4rem;
    }
}



































/* Tablet Styles */
@media (min-width:1301px) {
    body {
        margin: 0;
        background-color: rgb(162, 162, 162);
    }
    
    html {
        display:block;
        width:100%;
        /*justify-content:center;*/
    }
    
    a {
        text-decoration: none;
    }
    
    .text-container {
        font-family: 'SF Mono', sans-serif;
    }
    
    .description-text {
        margin: 3rem 10rem 3rem 5rem;
        font-family: Courier;
        /*line-height: 100%;*/
        font-size: 100%;
    }
    
    .description_text_less_margin_top {
        margin-top: 1rem;
    }
    
    .description_text_even_less_margin_bottom {
        margin-bottom: 0rem;
    }
    
    .description_text_less_margin_right {
        margin-right: 1rem;
    }
    
    .headline_content {
        color: #2e2727;
        font-family: Courier;
        font-weight: 200;
        font-size: 200%;
        margin-bottom: 1rem;
    }
    
    .extra_headline_content {
        font-size: 300%;
    }
    
    .bold_smaller_headline {
        font-weight: bolder;
        font-size: 150%
    }
    
    .text_content {
        font-size: 110%;
        margin-bottom: 1rem;
        line-height: 150%;
    }
    
    .text_content_less_margin_bottom {
        font-size: 110%;
        margin-bottom: 0rem;
        line-height: 150%;
    }
    
    .subheadline_content_difference_to_text_content {
        font-family: Courier;
        font-size: 125%;
        line-height: 160%;
        padding: 4rem;
    }
    
    .subheadline_content_difference_to_text_content_2 {
        font-family: Courier;
        font-size: 125%;
        line-height: 160%;
    }
    
    .little_less_margin_bottom {
        margin-bottom: 1rem;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 1rem 1rem 1rem;
    }
    
    
    .image {
        width: 15rem;
        height: auto;
    }
    
    .gif {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width:80%;
    }
    
    .gif_small_page_header {
        width: 25rem;
        height: auto;
    }
    
    .startOptions {
        display: flex; /* */
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 2rem;
        
        font-family: 'SF Mono', sans-serif;
        font-weight: 650;  
        font-size: 180%;
        color: #2e2727;
    }
    
    .startOptions:hover {
        transform: scale(1.1);
    }
    
    .onlyEnlargeImageNotTitleBelow:hover {
        transform: scale(1.1);
    }
    
    .startOptions_container {
        display: flex;
        /*justify-content: center;
        align-content: center;*/
        /*gap: 8rem;*/
    }
    
    .button {
      align-items: center;
      background-color: #fff;
      border: 2px solid #000;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      display: block;
      margin-left: 7rem;
      margin-top: 2rem;
      fill: #000;
      font-family: 'SF Mono', sans-serif;
      font-size: 16px;
      font-weight: 650;
      height: 48px;
      justify-content: center;
      letter-spacing: -.8px;
      line-height: 24px;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      /*text-align: center;*/
      text-decoration:none;
      transition: all .3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button_less_margin_left {
        margin-left: 0rem;
    }
    
    .button:focus {
      color: #171e29;
    }
    
    .button:hover {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    .button:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    @media (min-width: 768px) {
      .button {
        min-width: 170px;
      }
    }
    
    .subheadlines {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #2e2727;
        font-size: 250%;
        font-weight: 650;
    }
    
    .subheadline_hyphen {
        letter-spacing: 30px;
    }
    
    .subheadlines_container {
        display:flex;
        justify-content: space-evenly; /*Hintergrund: ich habe den Subheader in 3 Teile zerteilt und nutze nun "justify-content: space-evenly" um diese drei Teile in gleichen Abständen zueinander anzuordnen und mehr Abstand zwischen "---" und "xxx" zu bringen.*/
    }
    
    .boxed_text {
        color: white;
        font-family: 'SF Mono', sans-serif;
        font-weight: 650;  
        font-size: 400%;
        line-height: 73%;
        height: fit-content; 
        margin-left: 42%;
        margin-right: 42%;
        margin-bottom: 4rem;
        margin-top: 2rem;
        text-align: center;
    
        background-color: #2e2727;
        border: 30px solid #2e2727;
    }
    
    .boxed_text_projects {
        margin-left: 34%;
        margin-right: 34%;
        margin-bottom: 5rem;
    }
    
    .boxed_text_experiences {
        margin-left: 30%;
        margin-right: 30%;
    }
    
    .container_me_1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .container_extra_padding {
        padding: 2rem;
        padding-bottom: 5rem;
    }
    
    .container_extra_padding_concepts {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .container_extra_padding_end_of_concepts {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    
    .container_less_padding_flags {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0rem;
    }
    
    .container_me_2 {
        display: flex;
        flex-direction: column;
        /*justify-content: space-evenly;*/
        row-gap: 0rem;
    }
    
    .container_me_3 {
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    .container_me_4 {
        display: flex;
        justify-content: flex-start;
    }
    
    .text_me {
        width: 50%;
        font-family: Courier;
        line-height: 150%;
        font-size: 130%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .image_me {
        width: auto;
        height: 50rem;
    }
    
    .image_sneaker {
        width: auto;
        height: 22rem;
        padding: 2rem;
        padding-right: 1rem;
    }
    
    .image_toilet_1 {
        width: auto;
        height: 22rem;
    
        padding-left: 2rem;
        padding-top: 11rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
    
    .image_toilet_2 {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_toilet_3 {
        width: auto;
        height: 17rem;  
        padding-left: 1rem;
        padding-top: 3rem;
        padding-right: 0rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_toilet_4 {
        width: auto;
        height: 17rem;  
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_marble_1 {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-right: 1rem;
    }
    
    .image_marble_2 {
        width: auto;
        height: 30rem;  
        padding-left: 0rem;
        padding-top: 2rem;
        padding-right: 1rem;
        padding-bottom: 7rem;
    }
    
    .image_GG1 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 9rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
    }
    
    .image_GG2 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 9rem;
    }
    
    .image_GG3 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 3rem;
    }
    
    .image_GG4 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    
    .container_GG2 {
        display: flex;
        flex-direction: column;
    }
    
    .images_DAAL {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        margin: auto;
    }
    
    .image_logo_pluggi {
        margin-top: 8rem;
        margin-left: -5rem;
        margin-right: 1rem;
        width: 15rem;
    }
    
    .images_tool_heckathon_flexbox {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .images_tool_heckathon {
        width: 30%;
        height: auto;
        margin: auto;
    }
    
    .image_marble {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        /*display: flex;
        justify-content: flex-start;*/
    }
    
    .footer {
        font-family: 'SF Mono', sans-serif;
        display:flex;
        justify-content:flex-end;
        align-items:flex-end;
        margin-right: 2rem;
        margin-top:4rem;
    }
}





































/* Breakpoint nur fuer Width: 1200px */
/* @media only screen and (min-width:1200px) {
    .gif {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width:60%
    }
}
*/


/* Desktop Styles */
@media (min-width:2000px) {
    body {
        margin: 0;
        background-color: #E4E4E4;
    }
    
    html {
        display:block;
        width:100%;
    }
    
    a {
        text-decoration: none;
    }
    
    .text-container {
        font-family: 'SF Mono', sans-serif;
    }
    
    .description-text {
        margin: 3rem 10rem 3rem 5rem;
        font-family: Courier;
        /*line-height: 100%;*/
        font-size: 100%;
    }
    
    .description_text_less_margin_top {
        margin-top: 1rem;
    }
    
    .description_text_even_less_margin_bottom {
        margin-bottom: 0rem;
    }
    
    .description_text_less_margin_right {
        margin-right: 1rem;
    }
    
    .headline_content {
        color: #2e2727;
        font-family: Courier;
        font-weight: 200;
        font-size: 200%;
        margin-bottom: 1rem;
    }
    
    .extra_headline_content {
        font-size: 300%;
    }
    
    .bold_smaller_headline {
        font-weight: bolder;
        font-size: 150%
    }
    
    .text_content {
        font-size: 110%;
        margin-bottom: 1rem;
        line-height: 150%;
    }
    
    .text_content_less_margin_bottom {
        font-size: 110%;
        margin-bottom: 0rem;
        line-height: 150%;
    }
    
    .subheadline_content_difference_to_text_content {
        font-family: Courier;
        font-size: 125%;
        line-height: 160%;
        padding: 4rem;
    }
    
    .subheadline_content_difference_to_text_content_2 {
        font-family: Courier;
        font-size: 125%;
        line-height: 160%;
    }
    
    .little_less_margin_bottom {
        margin-bottom: 1rem;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 1rem 1rem 1rem;
    }
    
    
    .image {
        width: 15rem;
        height: auto;
    }
    
    .gif {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width:60%;
    }
    
    .gif_small_page_header {
        width: 25rem;
        height: auto;
    }
    
    .startOptions {
        display: flex; /* */
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 2rem;
        
        font-family: 'SF Mono', sans-serif;
        font-weight: 650;  
        font-size: 180%;
        color: #2e2727;
    }
    
    .startOptions:hover {
        transform: scale(1.1);
    }
    
    .onlyEnlargeImageNotTitleBelow:hover {
        transform: scale(1.1);
    }
    
    .startOptions_container {
        display: flex;
        /*justify-content: center;
        align-content: center;*/
        /*gap: 8rem;*/
    }
    
    .button {
      align-items: center;
      background-color: #fff;
      border: 2px solid #000;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      display: block;
      margin-left: 7rem;
      margin-top: 2rem;
      fill: #000;
      font-family: 'SF Mono', sans-serif;
      font-size: 16px;
      font-weight: 650;
      height: 48px;
      justify-content: center;
      letter-spacing: -.8px;
      line-height: 24px;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      /*text-align: center;*/
      text-decoration:none;
      transition: all .3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button_less_margin_left {
        margin-left: 0rem;
    }
    
    .button:focus {
      color: #171e29;
    }
    
    .button:hover {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    .button:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    @media (min-width: 768px) {
      .button {
        min-width: 170px;
      }
    }
    
    .subheadlines {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #2e2727;
        font-size: 250%;
        font-weight: 650;
    }
    
    .subheadline_hyphen {
        letter-spacing: 30px;
    }
    
    .subheadlines_container {
        display:flex;
        justify-content: space-evenly; /*Hintergrund: ich habe den Subheader in 3 Teile zerteilt und nutze nun "justify-content: space-evenly" um diese drei Teile in gleichen Abständen zueinander anzuordnen und mehr Abstand zwischen "---" und "xxx" zu bringen.*/
    }
    
    .boxed_text {
        color: white;
        font-family: 'SF Mono', sans-serif;
        font-weight: 650;  
        font-size: 400%;
        line-height: 73%;
        height: fit-content; 
        margin-left: 42%;
        margin-right: 42%;
        margin-bottom: 4rem;
        margin-top: 2rem;
        text-align: center;
    
        background-color: #2e2727;
        border: 30px solid #2e2727;
    }
    
    .boxed_text_projects {
        margin-left: 34%;
        margin-right: 34%;
        margin-bottom: 5rem;
    }
    
    .boxed_text_experiences {
        margin-left: 30%;
        margin-right: 30%;
    }
    
    .container_me_1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .container_extra_padding {
        padding: 2rem;
        padding-bottom: 5rem;
    }
    
    .container_extra_padding_concepts {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .container_extra_padding_end_of_concepts {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    
    .container_less_padding_flags {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0rem;
    }
    
    .container_me_2 {
        display: flex;
        flex-direction: column;
        /*justify-content: space-evenly;*/
        row-gap: 0rem;
    }
    
    .container_me_3 {
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    .container_me_4 {
        display: flex;
        justify-content: flex-start;
    }
    
    .text_me {
        width: 50%;
        font-family: Courier;
        line-height: 150%;
        font-size: 130%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .image_me {
        width: auto;
        height: 50rem;
    }
    
    .image_sneaker {
        width: auto;
        height: 22rem;
        padding: 2rem;
        padding-right: 1rem;
    }
    
    .image_toilet_1 {
        width: auto;
        height: 22rem;
    
        padding-left: 2rem;
        padding-top: 11rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
    
    .image_toilet_2 {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_toilet_3 {
        width: auto;
        height: 17rem;  
        padding-left: 1rem;
        padding-top: 3rem;
        padding-right: 0rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_toilet_4 {
        width: auto;
        height: 17rem;  
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .image_marble_1 {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-right: 1rem;
    }
    
    .image_marble_2 {
        width: auto;
        height: 30rem;  
        padding-left: 0rem;
        padding-top: 2rem;
        padding-right: 1rem;
        padding-bottom: 7rem;
    }
    
    .image_GG1 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 9rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
    }
    
    .image_GG2 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 9rem;
    }
    
    .image_GG3 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 3rem;
    }
    
    .image_GG4 {
        width: auto;
        height: 26rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    
    .container_GG2 {
        display: flex;
        flex-direction: column;
    }
    
    .images_DAAL {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        margin: auto;
    }
    
    .image_logo_pluggi {
        margin-top: 8rem;
        margin-left: -5rem;
        margin-right: 1rem;
        width: 15rem;
    }
    
    .images_tool_heckathon_flexbox {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .images_tool_heckathon {
        width: 30%;
        height: auto;
        margin: auto;
    }
    
    .image_marble {
        width: auto;
        height: 17rem;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        /*display: flex;
        justify-content: flex-start;*/
    }
    
    .footer {
        font-family: 'SF Mono', sans-serif;
        display:flex;
        justify-content:flex-end;
        align-items:flex-end;
        margin-right: 2rem;
        margin-top:4rem;
    }
}