/* Class selectors let you apply CSS styles to a specific HTML element.
They let you differentiate between two HTML elements of the same type.
Class selectors require two things:
1. A class attribute on the HTML element in question.
2. A matching CSS class in your stylesheet.
*/

/* The "."-prefix distinguishes class selectors from type selectors (without the dot-prefix). */
.synopsis {
    color: #7E8184;        /* Light gray */
    font-style: italic;
}

/* Descendant selector let you target only those elements that are inside of another element.
Here: The <em> element gets a special treatment whenever it is used within a block that is marked as a synopsis class. */
.synopsis em {
    font-style: normal;
}

.button:link, .button:visited {
    display: block;
    text-decoration: none;
    color: #FFF;
    background-color: #5995DA;    /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    /* Dark gray */
    border-radius: 5px;
  
    width: 200px;
    margin: 20px auto;
}

.button:hover, .button:visited:hover {
    color: #FFF;
    background-color: #76AEED;  /* Light blue */;
}

.button:active, .button:visited:active {
    color: #FFF;
    background-color: #5995DA;  /* Blue */
}

.page {
    width: 600px;
    margin: 0 auto;
}

/* ID selectors have higher specificity than class selectors, 
so this will turn our second button red even though we try 
to set the background-color with .call-to-action:link later 
in our stylesheet. The whole “order matters” concept only works 
when all your rules have the same specificity. */

/* The specificity of selectors we’ve seen in this chapter are show below, 
from greatest to least:

- #button-2
- .button:link
- a:link and .synopsis em (they’re equal)
- .button
- a
*/

#button-2 {
    background-color: #D55C5F;    /* Red */
}

.call-to-action:link, .call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;
}

.call-to-action:hover, .call-to-action:visited:hover {
    background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active, .call-to-action:visited:active {
    background-color: #EEB75A;     /* Yellow */;
}

/* pseudo-classes for links: Pseudo-classes begin with a colon followed by the name of the desired class. */
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited:hover {
    color: orange;
}

a:visited:active {
    color: red;
}

/* This rule is applied to the last element of this type! */
p:last-of-type {
    margin-bottom: 50px;
}

#button-2 {
    color: #5D6063;  /* Dark gray */
}